//variables globales 
$gray-color: rgba( 255, 255, 255, 0.25 );
$blue-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );


body {
  background-color: $gray-color; 
}

//mixins

@mixin caja-proyecto {

  background: $gray-color;
  box-shadow: $blue-shadow;
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  padding: 20px;
  border-radius: 20px
}

.proyect-info{
  @include caja-proyecto;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

html {
  width: 100%;
}

/* body {
  background-color: gray;
} */

.index-conatiner {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 3fr;
  grid-template-rows: 0.3fr 5fr 0.5fr;
  grid-template-areas:
    "header header header"
    "section section section"
    "footer footer footer";
}

nav {
  width: 100%;
}

header {
  z-index: 3;
  background-color: whitesmoke;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  grid-area: header;
}

ul {
  list-style: none;
  background-color: whitesmoke;
  font-size: 0; /* truco por el uso de inline-block*/
}

li {
  list-style: none;
  text-align: center;
  /* AQUI EL DISPLAY ES LO IMPORTANTE */
  display: inline-block;
  /* Yo tenia solo display flex y ocasionaba desboramiento*/
  width: 25%;
  font-size: 20em;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.5s;
  padding: 1vw;
}

a {
  padding: 1vw 1vw;
  text-decoration: none;
  color: rgb(250, 123, 144);
  font-size: 25px;
  letter-spacing: 0.4vw;
}

.h1-contact-title {
  letter-spacing: 10px;
  margin-top: 50px;
  margin-left: 50px;
}


.carousel-container{
  height: 500px;
}

div .caption-section {
  padding-top: unset;
  padding-bottom: unset;
  bottom: 50%;
}

div .first-caption{
 color: black;
}


.button-cantainer > .button-send {
  background-color: pink;
}

.info {
  grid-area: section;
  background-color: whitesmoke;
  display: block;
  margin: 100px auto;
  text-align: center;
  border-bottom: solid;
  border-top: solid;
  padding: 60px;
}



.icons,
.logos {
  text-align: center;
}

.logos {
  margin-bottom: 30px;
}

.logos img {
  margin: 10px;
}
.bici-logo {
  margin-bottom: 10px;
}

footer {
  
  margin-top: 50px;
}


.information {
  font-size: 30px;
}

.row div img:hover {
  transform: scale(1.05, 1.05);

}

.row {
  margin-bottom: 20px;
  
}

//  .proyect-info {
// background: rgba( 255, 255, 255, 0.25 );
// box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
// backdrop-filter: blur( 4px );
// -webkit-backdrop-filter: blur( 4px );
// border-radius: 10px;
// border: 1px solid rgba( 255, 255, 255, 0.18 );
//  padding: 20px;
//   border-radius: 20px;
// } 

.img-container {
  position: relative;

}
.proyect-img {
  width: 100%;
  max-height: 300px;
  top: 50%;
  left: 50%;
  
}

.container {
  margin-top: 40px;
}

/* SECCIÓN CERTIFICATIONS DESKTOP CON GRID*/

.img-box {
  margin: auto;
  
}

.img-box:hover {
    transform: scale(1.2, 1.2);
    
  }

.certification-info {
  background-color: aquamarine;
  grid-area: certification-info1;
  margin: 50px;
  border-radius: 20px;
}

.grid-container-certificates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 4fr);
  grid-template-areas:
    "img-box1 certification-info1"
    "img-box2 certification-info2"
    "img-box3 certification-info3"
    "img-box4 certification-info4";
}

.img-box1 {
  grid-area: "img-box1";
}

.certification-info1 {
  grid-area: certification-info1;
}

.img-box2 {
  grid-area: "img-box2";
}

.certification-info2 {
  grid-area: certification-info2;
}

.img-box3 {
  grid-area: "img-box3";
}

.certification-info3 {
  grid-area: certification-info3;
}

.img-box4 {
  grid-area: "img-box4";
}

.certification-info4 {
  grid-area: certification-info4;
}

/* CONTACT */

.form-section {
  margin: 0 auto;
  max-width: 800px;
  background-color: whitesmoke;
}

fieldset {
  text-align: center;
}

.mb-3 {
  padding: 20px;
}

.btn-primary {
  float: right;
  margin-right: 50px;
  width: 120px;
  background-color: pink;
  border-color: hsl(350, 100%, 88%);
}

.btn-primary:hover {
  background-color: pink;
  border-color: hsl(350, 100%, 88%);
}

/* MEDIA QUERIES  */
@media screen and (max-width: 768px) /* DE 768pc para abajo */ {
  footer {
    margin-top: 5px;
  }

  .information {
    font-size: 20px;
  }



  /* SECCIÓN certificates MOBILE */

  .grid-container-certificates {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(repeat, 8fr);
    grid-template-areas:
      "img-box1"
      "certification-info1"
      "img-box2"
      "certification-info2"
      "img-box3"
      "certification-info3"
      "img-box4"
      "certification-info4";
  }

  /* sección contact mobile */

  .contact-footer {
    margin-top: 30px;
  }

  .logos{
      text-align: center;
      margin-top: 100px;
  }
}


