/* SECCIÓN CERTIFICATIONS*/

$gray-color: rgba( 255, 255, 255, 0.25 );
$blue-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
$border-color: rgba( 255, 255, 255, 0.18 );
$space: 20px; 
  
  .certificate-img:hover {
      transform: scale(1.2, 1.2);
      
    }
  
@mixin caja-certificates {

    background: $gray-color;
    box-shadow: $blue-shadow;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid $border-color;
    padding: $space;
    border-radius: $space;
    margin: 5% 7%;

}

.img-container{
    position: relative;
}

@mixin certificate-img {
    display: block;
    margin: auto;
    margin-top: 4%;
}

.js-logo {
    width: 40%; 

}

.angular-logo{
    width: 40%;
}

.ux-logo{
    width: 30%
}

.html-logo{
    width: 40%; 
    margin: 0 auto; 
}
.certification-info {
    @include caja-certificates;
}
  

.certificate-img{
    @include certificate-img; 
}


