// variable globales

$gray-color: rgba( 255, 255, 255, 0.25 );
$blue-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
$border-color: rgba( 255, 255, 255, 0.18 );

$space: 20px; 

//imagenes de proyectos: 

@mixin proyect-image {
    max-width: 500px;
    top: 50%;
    left: 50%;
    margin-top: $space;
    width: 100%;
    
}

.proyect-img {
   @include proyect-image; 
}
  
.proyect-img:hover {
    transform: scale(1.05, 1.05);
    border: solid 5px pink;
  
  }



//mixins

@mixin caja-proyecto {

    background: $gray-color;
    box-shadow: $blue-shadow;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid $border-color; 
    padding: $space;
    border-radius: $space;
    margin-top: $space;
}
  

.proyect-info{
    @include caja-proyecto;
}
  
  
